.vscode
.DS_Store
/node_modules/
/web/dist/
/build/
/docker/dist/
/log
/cmd/iconrepo
/backend
/deployments/dev/app/configs/config.json
/output
/tmp/config
/**/tmp/
.task/
.terraform/
.terraform.lock*
terraform.tfstate*
fswatch.pid
deployments/dev/app/config.json
bundle.js*
index.html
internal/config/buildinfo.txt
iconrepo.log
iconrepo*.log.gz
iconrepo-backend
