.vscode
.DS_Store
/node_modules/
/build/
/docker/dist/
/log
/igo-repo
/backend
/deploy/dist/
/output
/tmp/config
/**/tmp/
.terraform/
.terraform.lock*
terraform.tfstate*
fswatch.pid
deployments/dev/app/config.json
bundle.js
index.html
