
icon-preview-size = 50px;

.icon-cell {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;

  .icon-preview {
    width: icon-preview-size;
    height: icon-preview-size;
    margin: 0 auto;
    text-align: center;
  }
  .icon-name {
		font-family: "Roboto-Light";
    font-size: 13px;
    line-height: 1;
    line-break: anywhere;
    text-align: center;
	}
  div.iconcell-control {
		position: absolute;
		top: 6px;
		right: 9px;
		opacity: 0;
		transition: opacity 0.3s 0.1s cubic-bezier(0.4, 0.7, 0.99, 0.99), transform 0.2s ease-in-out;
		&:hover {
			transform: scale(2.0);
		}
  }
  img {
		transition: all 0.3s ease-in-out;
		width: 100%;
		height: 100%;
  }
  &:hover {
    background-color: #F0F0F0;
    div.iconcell-control {
        opacity: 1;
    }
    img {
      transform: scale(3.0);
		}
  }
}
